.card{
    margin-top: 50px;
    background-color:#ffffff;
    height: 630px;
    width: 500px;
    padding-bottom: 20px;
}


.card2{
    padding-top: 10px;
    color:#004763;
    justify-content:center;
    margin-left: 80px;
    height: 200px;
    width:300px;
    background-color:#ffffff;
    

}


input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color:#faf6f6;
    margin-bottom: 30px;
    height: 250px;
    width: 300px ;
    border: none;
}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

