<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fs-2" routerLink="/landing">
        <img src="../assets/images/Background.png" alt="" >
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="nav fs-6 fw-bold" >
          <li class="nav-item">
            <a class="nav-link active" routerLink="/activities"  style="color:#000000" >ACTIVITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events"  style="color:#000000" >COMMUNITY EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" style="color:#000000"  >ABOUTUS</a>
          </li>
        </form>
      </div>
    </div>
</nav>

<div>
    <img src="../assets/images/about.png" alt="" style="padding-bottom:50px;">
    <h1 style="padding-left:40px; font-weight:bold;font-size:xxx-larger;">Our Story</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="container">
            <div class="card-body">
              <h1 class="card-title fs-1 fw-bolder"></h1><br><br>
              <p class="card-text fs-4 fw-bold">We are on a mission to build a care system that prioritises wellness by helping people adopt and sustain healthy lifestyles.</p>
                <p class="card-text fs-5 fw-normal">At one point in our lives we get to a stage where we are responsible for the health and wellbeing of ourselves, our family members, friends, colleagues and even that of our neighbours. This realisation inspired the start of Samawati.<br><br>

                    We have started by getting people to exercise regularly to prevent chronic diseases, build mental resilience and reduce the rising cost of healthcare while improving quality of life.
                
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="container2" style="padding-top:170px;">
            <div class="card-body">
              <p class="card-text fs-5 fw-normal">Samawati exists to increase the accessibility and participation of wellness focussed activities.</p>
            </div>
          </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
