  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fs-2" routerLink="/landing" >
      <img src="../assets/images/Background.png" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="nav fs-6 fw-bold" >
        <li class="nav-item">
          <a class="nav-link active" routerLink="/activities"  style="color:#000000" >ACTIVITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" style="color:#000000" >COMMUNITY EVENTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/aboutus" class="nav-link" style="color:#000000"  >ABOUTUS</a>
        </li>
      </form>
    </div>
  </div>
</nav>
        


