<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fs-2" routerLink="/landing">
        <img src="../assets/images/Background.png" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="nav fs-6 fw-bold" >
          <li class="nav-item">
            <a class="nav-link active" routerLink="/activities" style="color:#000000" >ACTIVITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events" style="color:#000000" >COMMUNITY EVENTS</a>
          </li>
          <li class="nav-item">
            <a routerLink="/aboutus" class="nav-link" href="#" style="color:#000000"  >ABOUTUS</a>
          </li>
        </form>
      </div>
    </div>
  </nav>

<div class="body">
    <div class="row">
        <div class="col-sm-6">
        <div class="container">
            <div class="card-body">
            <h1 class="card-text fs-1 fw-bold lh-lg">Engage in a variety <br> of activities that <br> will keep your health and <br> well being on top
            </h1>
            <br>
            <a style="background-color:rgb(65, 32, 92); color:white; height:60px; padding-top:15px;" routerLink="/activities"  class="btn  fw-bold btn-lg ">Browse activities</a>

            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="container2">
                <img src="../assets/images/sample1.png" alt="">
            </div>
        </div>
        </div>
</div>

    <div class="container3">
    <div class="row row-cols-1 row-cols-md-3 gp-3">
      <div class="col">
        <div class="card h-100">
          <img src="../assets/images/Ashtanga.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer" style="background-color:white;">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../assets/images/Power_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer" style="background-color:white;">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../assets/images/Show_them.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer" style="background-color:white;">
            <small class="text-muted" >Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-howitworks></app-howitworks>
<app-footer></app-footer>
