<app-navbar></app-navbar>

<div class="container row  gap-3 mx-auto">

<div class="card" >
    <div class="card1" style="padding-top:10px;">
    <img src="../assets/images/Ashtanga.jpg"  class="card-img-top" alt=""> 
    Ashtanga with Richard Kitoshi      
</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Build stregnth and flexibility by engaging all areas of your body.</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Thu, Tue</a>
        10AM
        <a href="#" class="card-link">Another link</a>
      </div>
  </div>

  <div class="card" >
    <div class="card2" style="padding-top:10px;">
    <img src="../assets/images/Power_1.jpg"  class="card-img-top" alt=""> 
    Ashtanga with Richard Kitoshi      
</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Build stregnth and flexibility by engaging all areas of your body.</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Thu, Tue</a>
        10AM
        <a href="#" class="card-link">Another link</a>
      </div>
  </div>

  <div class="card" >
    <div class="card3" style="padding-top:10px;">
    <img src="../assets/images/Show_them.jpeg"  class="card-img-top" alt=""> 
        Ashtanga with Richard Kitoshi      
</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Build stregnth and flexibility by engaging all areas of your body.</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Thu, Tue</a>
        10AM
        <a href="#" class="card-link">Another link</a>
      </div>
  </div>
  
</div>
